body{
background-image: linear-gradient(to right,#0E1D31 , #294D83);


height: 100vh;
width: 100%;
}
#inicial{
    height: 120vh;
}

#ola{
    font-family: 'Jersey 25';
    display: flex;
    justify-content: center;
    color: white;
    font-size: 64px;
    
}
#nome{
    font-family: 'Londrina Shadow';
    font-size: 128px;
    color: white;
    display: flex;
    justify-content: center;

}
#textos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;

   
}
#svgs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
}
#svgs svg{
    width: 50px;
    height: 52px;
}
#proxima{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%
}
#proxima svg{
    width: 50px;
    height: 52px;
    display: flex;
    justify-content: center;
    
}
#bemvindo{
    display: flex;
    justify-content: center;
    font-family: 'Jersey 25';
    font-size: 64px;
    color: white;
}
#txtmenorbemvindo{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Jersey 25';
    font-size: 24px;
}
#projetos1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
    
}
#paigrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 60px;
}
#filho1{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}
#filho2{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
}
#titlehabilidades{
    display: flex;
    justify-content: center;
    font-family:'Jersey 25';
    font-size: 96px;
    color: white;
    margin-bottom: 10%;
}
#espacoparamaisprojetos{
    width: 100%;
    height: 100vh;
}
#divpaihab{
    width: 100%;
    display: flex;
     flex-direction: row;
     justify-content:  space-evenly;
    flex-wrap: wrap;
     gap: 4%;
}
#divpaihab div{
    border: black solid 3px;
    border-radius: 60px;
    width: 350px;
    height: 450px;
    
}
#mysql { margin-left: -15%;
margin-top: 3%;}
#c{
margin-top: 3%;
}
#html{
    display: flex;
    justify-content: center;
}
#html img{
    width: 60px;
    height: 62px;
    margin-top: 10%;

}
